<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="sass/reset.css">

    <link rel="stylesheet" type="text/css" href="sass/theme.css">
    <link rel="stylesheet" type="text/css" href="sass/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css
    ">
    <link rel="shortcut icon" href="./uploads/Logo123.jpg">

    <title>Create Password</title>
</head>
<script>
    function hidemsg() {
        document.querySelector(".alert-message").style.display = "none";
    }
    setTimeout("hidemsg()", 3000);
</script>

<body>
    <nav>
        <a href="."> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                alt="tvastra-logo"></a>
        <div class="nav-links">
            <a href="">Doctor</a>

            <a href="">Hospital</a>

            <a href="">Treatment</a>



            <a href="">About</a>

        </div>
        <div class="nav-buttns">


            <button class="secondary-bttn-dark">Get a Qoute</button>

        </div>
        <i class="fas fa-bars"></i>
    </nav>
    <main>
        <section>
            {{#if message6.length}}
            <div class="alert-message">
                <i class="fas fa-times-circle"></i>
                <div class="msg-paras">
                    <p class="message-para main-message">{{messagefail}}</p>
                    <p class="message-para">{{message6}}</p>
                </div>
                <span id="closebttn" style="cursor: pointer;"
                    onclick="this.parentElement.style.display='none';">&times;</span>
            </div>

            {{/if}}
            <form action="/create-password" method="POST" id="form">
                <h2>Create New Password</h2>

                <div class="password-input" style="margin-bottom: .5rem;">
                    <input type="password" placeholder="Enter password" name="password" id="password" required>
                    <i class="fas fa-eye" id="togglePassword"></i>

                </div>
                <div class="password-input" style="margin-bottom: .5rem;">
                    <input type="password" placeholder="Confirm password" name="cpassword">

                </div>

                <button class="secondary-bttn-dark" type="submit" style="margin-bottom: 5rem;">SUBMIT<i
                        class="fas fa-arrow-right"></i></button>




            </form>

            <h5>All Rights Reserved. © tvastra 2020 </h5>

        </section>
    </main>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });


    </script>


</body>

</html>