:root {
  --dark-blue: rgb(18, 18, 59);
  --light-blue: #8cc5eb;
  --white: #ffffff;
  --light-blue-text: #297cb3;
  --light-grey: rgb(226, 218, 218);
  --light-grey-txt: rgb(177, 174, 174);
  --black: black;
}

/*----------------------Mobile-View---------------------*/
.doctor-heading {
  display: none;
}

.sort-by-section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-by-section p {
  text-align: left;
  width: 60%;
}

.doctors-section {
  padding-top: 0;
}

.doctors-section .filter-by {
  display: none;
}

.doctors-section .doctor-cards .doctor-card {
  border: 1px solid var(--light-grey-txt);
  height: 40rem;
  margin-bottom: 1rem;
}

.doctors-section .doctor-cards .doctor-card h3 {
  color: var(--light-blue-text);
  text-align: left;
  position: relative;
  padding: 1rem 0 1rem 2rem;
}

.doctors-section .doctor-cards .doctor-card h3::before {
  content: "";
  left: -1%;
  top: 47%;
  width: 2rem;
  position: absolute;
  border-bottom: 3px solid var(--light-blue-text);
}

.doctors-section .doctor-cards .doctor-card ul li {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.doctors-section .doctor-cards .doctor-card ul li span i {
  color: var(--light-blue-text);
  padding: 0 0.5rem 0 0.8rem;
}

.doctors-section .doctor-cards .doctor-card a {
  width: 100%;
}

.doctors-section .doctor-cards .doctor-card a button {
  margin: 2% 12%;
}

.doctors-section .doctor-cards .doctor-card figure {
  height: 62%;
}

.need-help-section {
  background-color: var(--light-blue);
}

.need-help-section h2 {
  color: var(--white);
}

.need-help-section p {
  padding-left: 0.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .doctor-heading {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
    height: 15rem;
    position: relative;
  }
  .doctor-heading figure {
    height: 100%;
  }
  .doctor-heading figure img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .doctor-heading figure::after {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    opacity: 0.8;
  }
  .doctor-heading figure h2 {
    position: absolute;
    top: 45%;
    left: -24%;
    z-index: 3;
  }
  .doctor-heading figure h2 span {
    text-decoration: underline;
    color: var(--dark-blue);
    font-family: nexafont;
  }
  .doctors-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .doctors-section .filter-by {
    display: inline;
    width: 28%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 1rem;
  }
  .doctors-section .filter-by h4 {
    text-align: left;
    background-color: var(--light-grey-txt);
    padding: 1rem;
  }
  .doctors-section .filter-by .filter-sub-section {
    padding-top: 1rem;
    border-bottom: 3px solid var(--light-grey-txt);
  }
  .doctors-section .filter-by .filter-sub-section h4 {
    background-color: var(--white);
    font-family: nexafont;
    text-align: left;
  }
  .doctors-section .filter-by .filter-sub-section h4 span i {
    margin-left: 2.8rem;
    position: relative;
    color: var(--light-blue-text);
  }
  .doctors-section .filter-by .filter-sub-section h4 span i::after {
    content: "";
    position: absolute;
    width: 1.1rem;
    left: 130%;
    top: 30%;
    border-bottom: 4px solid var(--light-grey-txt);
  }
  .doctors-section .filter-by .filter-sub-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .doctors-section .filter-by .filter-sub-section ul li input {
    width: 20%;
  }
  .doctors-section .filter-by .filter-sub-section button {
    background-color: var(--white);
    color: var(--light-blue-text);
    font-size: 1rem;
    margin: 1rem 0.8rem;
  }
  .doctors-section .doctor-cards {
    width: 72%;
  }
  .doctors-section .doctor-cards .doctor-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 17rem;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn {
    width: 65%;
    height: 100%;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 50%;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn ul li {
    width: 50%;
    text-align: left;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn button {
    margin: 2% 12%;
  }
  .doctors-section .doctor-cards .doctor-card figure {
    width: 35%;
    height: 100%;
  }
  .need-help-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*------------------Web-View---------------*/
@media (min-width: 1025px) {
  .doctor-heading {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
    height: 18rem;
    position: relative;
  }
  .doctor-heading figure {
    height: 100%;
  }
  .doctor-heading figure img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .doctor-heading figure::after {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    opacity: 0.8;
  }
  .doctor-heading figure h2 {
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 3;
  }
  .doctor-heading figure h2 span {
    text-decoration: underline;
    color: var(--dark-blue);
    font-family: nexafont;
  }
  .doctors-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .doctors-section .filter-by {
    display: inline;
    width: 28%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 2rem;
  }
  .doctors-section .filter-by h4 {
    text-align: left;
    background-color: var(--light-grey-txt);
    padding: 1rem;
  }
  .doctors-section .filter-by .filter-sub-section {
    padding-top: 1rem;
    border-bottom: 3px solid var(--light-grey-txt);
  }
  .doctors-section .filter-by .filter-sub-section h4 {
    background-color: var(--white);
    font-family: nexafont;
    text-align: left;
    padding-left: 2rem;
  }
  .doctors-section .filter-by .filter-sub-section h4 span i {
    margin-left: 7rem;
    position: relative;
    color: var(--light-blue-text);
  }
  .doctors-section .filter-by .filter-sub-section h4 span i::after {
    content: "";
    position: absolute;
    width: 1.2rem;
    left: 350%;
    top: 30%;
    border-bottom: 4px solid var(--light-grey-txt);
  }
  .doctors-section .filter-by .filter-sub-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .doctors-section .filter-by .filter-sub-section ul li input {
    width: 20%;
  }
  .doctors-section .filter-by .filter-sub-section button {
    background-color: var(--white);
    color: var(--light-blue-text);
    font-size: 1rem;
    margin: 1rem 0.8rem;
  }
  .doctors-section .doctor-cards {
    width: 72%;
  }
  .doctors-section .doctor-cards .doctor-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 23rem;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn {
    width: 65%;
    height: 100%;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn h3 {
    padding: 1rem 0 1rem 3rem;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn h3::before {
    width: 3rem;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 35%;
    padding-left: 2rem;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn ul li {
    width: 50%;
    font-size: 1.1rem;
    text-align: left;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn ul li i {
    font-size: 1.2rem;
  }
  .doctors-section .doctor-cards .doctor-card .doctor-info-bttn button {
    margin: 0 12% 2% 8%;
  }
  .doctors-section .doctor-cards .doctor-card figure {
    width: 35%;
    height: 100%;
  }
  .need-help-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .need-help-section p {
    padding: 0;
  }
}
/*# sourceMappingURL=doctor.css.map */