:root {
  --dark-blue: rgb(18, 18, 59);
  --light-blue: #8cc5eb;
  --white: #ffffff;
  --light-blue-text: #297cb3;
  --light-grey: rgb(226, 218, 218);
  --light-grey-txt: rgb(139, 139, 139);
  --black: black;
}

/*----------Mobile-View-------------*/

section {
  background-color: var(--light-blue);

  form {
    margin: 12.2% 0;
    background-color: var(--white);

    box-shadow: var(--black) 3px 5px 24px;
    h2 {
      color: var(--light-blue-text);
      border-bottom: 1px solid var(--light-grey-txt);
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      margin-bottom: 1rem;
    }
    .login-input {
      position: relative;
      input {
        width: 100%;
      }
      width: 90%;
      i {
        position: absolute;
        top: 22%;
        left: 87%;
        font-size: 1.6rem;
        color: var(--light-grey-txt);
      }
    }
    input {
      border: 1px solid var(--light-grey-txt);
      width: 90%;
      padding: 1.1rem;
    }
    .secondary-bttn-dark {
      margin-bottom: 1rem;
      width: 90%;
      letter-spacing: 0.3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      position: relative;
      i {
        position: absolute;
        color: var(--white);
        left: 92%;
        top: 35%;
      }
    }
    p {
      padding: 2rem 0 1rem 0rem;
      font-size: 0.8rem;
      font-family: nexafont-bold;
      a {
        color: var(--light-blue-text);
        font-family: nexafont-bold;
        font-size: 0.8rem;
      }
    }
  }
  h5 {
    margin: 11.8% 0 0 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  section {
    padding-right: 18%;
    padding-left: 18%;
    form {
      margin: 36.5% 0;
      h2 {
        margin-bottom: 2rem;
      }
      .login-input {
        input {
          font-size: 1rem;
        }

        i {
          left: 90%;
        }
      }
      input {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
      .secondary-bttn-dark {
        margin-bottom: 2rem;

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      p {
        padding: 2rem 0 1rem 0rem;
        font-size: 1rem;

        a {
          font-size: 1rem;
        }
      }
    }
    h5 {
      margin: 13.9% 0 0 0;
    }
  }
}

@media (min-width: 1025px) {
  section {
    padding-right: 34%;
    padding-left: 34%;
    form {
      margin: 4.5% 0 10% 0;
      h2 {
        margin-bottom: 2rem;
        text-align: center;
      }
      .login-input {
        input {
          font-size: 1rem;
        }

        i {
          left: 90%;
        }
      }
      input {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
      .secondary-bttn-dark {
        margin-bottom: 2rem;

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      p {
        padding: 2rem 0 1rem 9rem;
        font-size: 1rem;
        font-family: nexafont-bold;
        a {
          color: var(--light-blue-text);
          font-family: nexafont-bold;
          font-size: 1rem;
        }
      }
    }
    h5 {
      margin: 13.9% 0 0 0;
    }
  }
}
