:root {
  --dark-blue: rgb(18, 18, 59);
  --light-blue: #8cc5eb;
  --white: #ffffff;
  --light-blue-text: #297cb3;
  --light-grey: rgb(226, 218, 218);
  --light-grey-txt: rgb(139, 139, 139);
  --black: black;
}
/*----------Mobile-View-------------*/

section {
  background-color: var(--light-blue);

  form {
    margin: 12.2% 0;

    background-color: var(--white);
    flex-direction: row;
    box-shadow: var(--black) 3px 5px 24px;
    h2 {
      color: var(--light-blue-text);
      border-bottom: 1px solid var(--light-grey-txt);
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      margin-bottom: 1rem;
    }

    input {
      border: 2px solid var(--light-grey-txt);
      width: 90%;
      padding: 1rem;
    }
    h4 {
      text-align: left;
      padding-left: 1rem;
    }
    .time-interval {
      li {
        input {
          width: 12%;
        }
      }
      padding: 1rem 0;
    }
    .upload-record {
      button {
        border: 1px solid var(--light-grey-txt);
        margin-left: 1.5rem;
      }
      span {
        color: var(--dark-blue);
        padding-left: 1rem;
      }
      padding: 0.5rem 0;
    }
    .appointment-input {
      border: 1px solid var(--light-grey-txt);
      padding: 2rem;
    }
    .secondary-bttn-dark {
      margin-bottom: 1rem;
      width: 90%;
      letter-spacing: 0.2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: left;
      position: relative;
      i {
        position: absolute;
        color: var(--white);
        left: 92%;
        top: 35%;
      }
    }
  }
  h5 {
    margin: 17.8% 0 0 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  section {
    padding-right: 18%;
    padding-left: 18%;
    form {
      margin: 2.5% 0;
      h4 {
        padding-left: 1.5rem;
      }
      .time-interval {
        li {
          label {
            font-size: 1rem;
          }
        }
        padding: 1rem 0;
      }
      .upload-record {
        button {
          font-size: 1rem;
        }
        span {
          font-size: 1rem;
        }
      }
      .appointment-input {
        padding: 3rem;
      }
      .secondary-bttn-dark {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1025px) {
  section {
    padding-right: 30%;
    padding-left: 30%;
    form {
      margin: 4.5% 0 10% 0;
      h2 {
        text-align: center;
      }
      h4 {
        padding-left: 2rem;
      }
      .time-interval {
        li {
          label {
            font-size: 1rem;
          }
        }
        padding: 1rem 0;
      }
      .upload-record {
        padding: 1rem 0;
        button {
          font-size: 1rem;
          margin-left: 2rem;
        }
        span {
          font-size: 1rem;
        }
      }
      .appointment-input {
        padding: 3rem;
      }
      .secondary-bttn-dark {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}
