:root {
  --dark-blue: rgb(18, 18, 59);
  --light-blue: #8cc5eb;
  --white: #ffffff;
  --light-blue-text: #297cb3;
  --light-grey: rgb(226, 218, 218);
  --light-grey-txt: rgb(177, 174, 174);
  --black: black;
  --very-light-blue: #b4daf3;
}
.contact-heading {
  padding: 0;

  figure {
    position: relative;
    height: 18rem;

    h2 {
      position: absolute;

      top: 40%;
      color: var(--white);
    }
    p {
      position: absolute;

      color: var(--white);

      top: 55%;
    }
  }
}
.faq-section {
  ul {
    .doctor-info-heading {
      color: var(--light-blue-text);
      font-family: nexafont-bold;

      padding: 1rem 0;
      width: 100%;
      outline: none;

      text-align: left;

      font-size: 1.2rem;
      transition: 0.4s;
      background-color: var(--white);
    }

    .doctor-info-para {
      display: none;
      background-color: var(--very-light-blue);
      border: none;

      overflow: hidden;
      p {
        text-align: left;
        padding: 0.3rem;
      }
    }
    .doctor-info-heading:after {
      content: "\2B9F";

      float: right;

      font-size: 0.8rem;

      background-color: var(--very-light-blue);
      border-radius: 100%;
      padding: 0.07rem 0.25rem;
    }

    .active:after {
      content: "\2B9D";
      font-size: 0.8rem;
    }
  }
}
.need-help-section {
  background-color: var(--light-blue);
  h2 {
    color: var(--white);
  }
  p {
    padding-left: 0.2rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .faq-section {
    ul {
      .doctor-info-heading {
        font-size: 1.5rem;
      }

      .doctor-info-para {
        p {
          line-height: 1.6rem;
        }
      }
      .doctor-info-heading:after {
        font-size: 0.9rem;
      }

      .active:after {
        content: "\2B9D";
        font-size: 0.9rem;
      }
    }
  }
  .need-help-section {
    flex-direction: column;
  }
}

@media (min-width: 1025px) {
  .contact-heading {
    figure {
      h2 {
        left: 9.5%;
      }
      p {
        left: 9.5%;
      }
    }
  }
  .faq-section {
    ul {
      .doctor-info-heading {
        font-size: 1.7rem;
      }

      .doctor-info-para {
        p {
          line-height: 1.8rem;
        }
      }
      .doctor-info-heading:after {
        font-size: 1.2rem;
      }

      .active:after {
        content: "\2B9D";
        font-size: 1.2rem;
      }
    }
  }
  .need-help-section {
    flex-direction: row;
    p {
      padding: 0;
    }
  }
}
