.model-box-background {
  background: #0009;
  z-index: 10;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.model-box {
  max-width: 90%;
  width: 30rem;
  background: var(--light-grey);
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-animation: grow 0.3s ease-out;
          animation: grow 0.3s ease-out;
}

.model-box .photos {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: var(--light-grey-txt);
  height: 5rem;
  width: 97%;
  margin-bottom: 1rem;
}

.model-box .photos .selected-photos {
  width: 20%;
}

.model-box .photos .add-photo {
  margin-left: 1rem;
  width: 60%;
}

.model-box .photos .add-photo #myfile {
  display: none;
}

.model-box .photos .add-photo #reportPic {
  display: none;
}

.model-box input {
  padding: 1rem;
  margin-bottom: 1rem;
}

.model-box h6 {
  text-align: left;
  font-size: 1.2rem;
}

.model-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model-box label i {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.model-box label span {
  color: var(--dark-blue);
  font-family: nexafont-bold;
  font-size: 1rem;
}

.model-box #report,
.model-box #prescription,
.model-box #invoice {
  width: 10%;
}

.model-box .button-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-gap: 1rem;
}

.model-box .button-group .danger {
  background-color: #c50606;
  padding: 0.5rem 1rem;
  color: var(--white);
  font-size: 1rem;
}

.model-box .button-group .success {
  background-color: var(--green);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--white);
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.model-box > div {
  padding: 0.5rem;
}

@media (min-width: 1025px) {
  main {
    background-color: var(--light-grey);
  }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section .dashboard {
    width: 28%;
  }
  main section .dashboard h3 {
    text-align: left;
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  main section .dashboard ul li {
    width: 95%;
    margin-bottom: 0.2rem;
  }
  main section .dashboard ul li a {
    display: inline-block;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 100%;
  }
  main section .dashboard ul li a i {
    color: var(--light-blue-text);
    width: 2rem;
  }
  main section .dashboard ul li a span {
    font-size: 1.3rem;
    color: var(--dark-blue);
  }
  main section .dashboard ul li a:hover {
    background-color: var(--light-grey-txt);
    border-left: 6px solid var(--light-blue-text);
  }
  main section .dashboard ul li a:hover span {
    color: var(--light-blue-text);
    font-family: nexafont-bold;
  }
  main section .dashboard ul li .links {
    background-color: var(--light-grey-txt);
    border-left: 6px solid var(--light-blue-text);
  }
  main section .dashboard ul li .links span {
    color: var(--light-blue-text);
    font-family: nexafont-bold;
  }
  main section .medical_div {
    width: 72%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  main section .medical_div .account {
    border-bottom: 2px solid var(--light-grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1rem;
  }
  main section .medical_div .account h2 {
    width: 20rem;
    font-size: 2.2rem;
    padding: 0;
  }
  main section .medical_div .account .secondary-bttn-light {
    padding: 0.8rem 2.5rem;
    font-size: 1.1rem;
  }
  main section .medical_div .medical-container .container {
    background-color: var(--light-grey);
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1rem;
  }
  main section .medical_div .medical-container .container .sub-container {
    width: 80%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main section .medical_div .medical-container .container .sub-container big {
    width: 25%;
    background-color: white;
    font-family: nexafont-bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    cursor: pointer;
  }
  main section .medical_div .medical-container .container .sub-container .medical-info {
    width: 50%;
    margin-left: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .medical_div .medical-container .container .sub-container .medical-info p {
    padding-bottom: 0.3rem;
    text-align: center;
    font-family: nexafont-bold;
    font-size: 1.3rem;
    color: var(--light-blue-text);
  }
  main section .medical_div .medical-container .container .sub-container .medical-info small {
    width: 60%;
    text-align: center;
    padding-bottom: 0.3rem;
    font-family: nexafont-bold;
    color: #9e9e9e;
  }
  main section .medical_div .medical-container .record-container {
    margin-top: 1.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
  }
  main section .medical_div .medical-container .record-container .sub-record {
    background-color: var(--light-grey-txt);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 12rem;
  }
  main section .medical_div .medical-container .record-container .sub-record i {
    color: #ac0101;
    cursor: pointer;
  }
  main section .medical_div .medical-container .record-container .sub-record p {
    width: 90%;
    padding-bottom: 0.3rem;
    text-align: left;
    font-family: nexafont-bold;
    font-size: 1.3rem;
    color: var(--light-blue-text);
  }
  main section .medical_div .medical-container .record-container .sub-record figure {
    height: 70%;
  }
  main section .medical_div .medical-container .secondary-bttn-light {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=medicalreports.css.map */