@media (min-width: 1025px) {
  main {
    background-color: var(--light-grey);
  }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section .dashboard {
    width: 28%;
  }
  main section .dashboard h3 {
    text-align: left;
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  main section .dashboard ul li {
    width: 95%;
    margin-bottom: 0.2rem;
  }
  main section .dashboard ul li a {
    display: inline-block;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 100%;
  }
  main section .dashboard ul li a i {
    color: var(--light-blue-text);
    width: 2rem;
  }
  main section .dashboard ul li a span {
    font-size: 1.3rem;
    color: var(--dark-blue);
  }
  main section .dashboard ul li a:hover {
    background-color: var(--light-grey-txt);
    border-left: 6px solid var(--light-blue-text);
  }
  main section .dashboard ul li a:hover span {
    color: var(--light-blue-text);
    font-family: nexafont-bold;
  }
  main section .dashboard ul li .links {
    background-color: var(--light-grey-txt);
    border-left: 6px solid var(--light-blue-text);
  }
  main section .dashboard ul li .links span {
    color: var(--light-blue-text);
    font-family: nexafont-bold;
  }
  main section .medical_div {
    width: 72%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  main section .medical_div .account {
    border-bottom: 2px solid var(--light-grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1rem;
  }
  main section .medical_div .account h2 {
    width: 20rem;
    font-size: 2.2rem;
    padding: 0;
  }
  main section .medical_div .account .secondary-bttn-light {
    padding: 0.8rem 2.5rem;
    font-size: 1.1rem;
  }
  main section .medical_div .container {
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section .medical_div .container label {
    font-family: nexafont-bold;
    color: var(--dark-blue);
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }
  main section .medical_div .container input {
    border: 2px solid var(--dark-blue);
    padding: 1rem;
    width: 30%;
  }
  main section .medical_div .container input:focus {
    border: 2px solid var(--light-blue-text);
  }
  main section .medical_div .container .confirm {
    width: 70%;
    padding: 3rem 0;
  }
  main section .medical_div .container .confirm div {
    width: 43%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section .medical_div .container .confirm div input {
    width: 100%;
  }
}
/*# sourceMappingURL=settings.css.map */